<%= link_to "Rails3 Mongoid Omniauth", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    Logged in as <%= current_user.name %>
    </li>
    <li>
    <%= link_to 'Logout', signout_path %>        
    </li>
  <% else %>
    <li>
    <%= link_to 'Twitter Login', tw_signin_path %>  
    </li>
    <li>
    <%= link_to 'Facebook Login', fb_signin_path %>  
    </li>
  <% end %>
</ul>